*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
HMCLPE/src/main/assets/app_runtime/java/JRE17/lib/modules
HMCLPE/release/HMCLPE-release.apk
*.apk
